In [1]:
import pandas as pd

dat = pd.read_csv('../data/mtcars_missing.csv', sep = ",")

In [2]:
# Select numerical variables

numerical_vars = list(set(dat.columns) - {'model'})

from fancyimpute import IterativeImputer as MICE

In [7]:
from sklearn.tree import DecisionTreeRegressor

original_missing = dat.copy()

mice_model_default = MICE()
mice_model_default.fit(dat[numerical_vars])
dat_default_imputed = dat.copy()
dat_default_imputed[numerical_vars] = mice_model_default.transform(dat[numerical_vars])

dat = original_missing.copy()

mice_model_tree = MICE(estimator=DecisionTreeRegressor())
mice_model_tree.fit(dat[numerical_vars])
dat_tree_imputed = dat.copy()
dat_tree_imputed[numerical_vars] = mice_model_tree.transform(dat[numerical_vars])

dat_default_imputed[numerical_vars] - dat_tree_imputed[numerical_vars]

J:\IE\SECOND TERM\MLII\venv\Lib\site-packages\sklearn\impute\_iterative.py:796: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  warnings.warn(

    cyl       mpg  qsec  drat   vs        wt  disp  carb  gear   hp        am
0   0.0  0.000000   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0 -0.429502
1   0.0  0.000000   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
2   0.0  0.000000   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
3   0.0  0.000000   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
4   0.0  0.737186   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
5   0.0  2.562402   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
6   0.0 -0.863973   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
7   0.0  0.000000   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
8   0.0  0.000000   0.0   0.0  0.0  1.030265   0.0   0.0   0.0  0.0  0.000000
9   0.0  0.000000   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
10  0.0  3.944215   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
11  0.0  0.000000   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
12  0.0  0.000000   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
13  0.0  0.000000   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
14  0.0 -3.457517   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
15  0.0 -3.310626   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
16  0.0  0.000000   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
17  0.0  0.000000   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
18  0.0  0.000000   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
19  0.0  0.000000   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
20  0.0  0.000000   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
21  0.0  0.521229   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
22  0.0  0.000000   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
23  0.0  0.000000   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
24  0.0  0.000000   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.185011
25  0.0  0.000000   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
26  0.0 -5.033467   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
27  0.0  0.000000   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
28  0.0  0.000000   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
29  0.0  7.664557   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
30  0.0  0.000000   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000
31  0.0  3.431217   0.0   0.0  0.0  0.000000   0.0   0.0   0.0  0.0  0.000000

# Exercise 2

In [22]:
# Load libraries

import numpy as np

import pandas as pd

dat = pd.read_csv('../data/dataset_mock_midterm.csv', sep = ",")

dat.drop('date', axis = 1, inplace = True)



# Select categorical variables

categorical_vars = ['severity', 'origin', 'ambulatory', 'tip_grd', 'tip_adm']

non_categorical_vars = list(set(dat.columns) - set(categorical_vars))


# Import One Hot Encoding (OHE) method

from sklearn.preprocessing import OneHotEncoder


# 3) Define "model"

ohe = OneHotEncoder(sparse_output = False)


# 4) Train "model"

ohe.fit(dat[categorical_vars])


# 5) "Predict"

dat_ohe = pd.DataFrame(ohe.transform(dat[categorical_vars]))


# Optional

dat_ohe.columns = ohe.get_feature_names_out()


# Combine numerical and categorical

dat_1 = pd.concat((dat[non_categorical_vars], dat_ohe), axis=1)

In [18]:
dat_1

,dataset,mortality_ratio,age,num_proc,exitus,expected_length,severity_1.0,severity_2.0,severity_3.0,severity_4.0,...,ambulatory_0.0,ambulatory_1.0,ambulatory_nan,tip_grd_M,tip_grd_Q,tip_grd_nan,tip_adm_1.0,tip_adm_2.0,tip_adm_3.0,tip_adm_nan
0,train,0.408730,12596.0,21.0,0,151.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
1,train,0.306931,20973.0,22.0,0,99.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2,train,0.278481,19611.0,19.0,0,87.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
3,train,0.150289,13583.0,22.0,0,100.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,train,0.016573,18042.0,2.0,0,44.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32701,test,0.028365,23619.0,2.0,0,2.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
32702,test,0.000606,3935.0,1.0,0,2.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
32703,test,0.040452,30163.0,4.0,0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
32704,test,0.000000,29012.0,4.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
32705,test,0.000000,13244.0,1.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0

In [23]:

dat = pd.read_csv('../data/dataset_mock_midterm.csv', sep = ",")

dat.drop('date', axis = 1, inplace = True)



# Select categorical variables

categorical_vars = ['severity', 'origin', 'ambulatory', 'tip_grd', 'tip_adm']

non_categorical_vars = list(set(dat.columns) - set(categorical_vars))


# Import One Hot Encoding (OHE) method

from sklearn.preprocessing import OneHotEncoder


# 3) Define "model"

ohe = OneHotEncoder(sparse_output = False, drop='first')


# 4) Train "model"

ohe.fit(dat[categorical_vars][dat['dataset'] == 'train'])


# 5) "Predict"

dat_ohe = pd.DataFrame(ohe.transform(dat[categorical_vars]))


# Optional

dat_ohe.columns = ohe.get_feature_names_out()


# Combine numerical and categorical

dat_2 = pd.concat((dat[non_categorical_vars], dat_ohe), axis=1)

In [20]:
dat_2

,dataset,mortality_ratio,age,num_proc,exitus,expected_length,severity_2.0,severity_3.0,severity_4.0,severity_nan,...,origin_8.0,origin_9.0,origin_nan,ambulatory_1.0,ambulatory_nan,tip_grd_Q,tip_grd_nan,tip_adm_2.0,tip_adm_3.0,tip_adm_nan
0,train,0.408730,12596.0,21.0,0,151.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,train,0.306931,20973.0,22.0,0,99.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
2,train,0.278481,19611.0,19.0,0,87.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,train,0.150289,13583.0,22.0,0,100.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
4,train,0.016573,18042.0,2.0,0,44.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32701,test,0.028365,23619.0,2.0,0,2.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
32702,test,0.000606,3935.0,1.0,0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
32703,test,0.040452,30163.0,4.0,0,2.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
32704,test,0.000000,29012.0,4.0,0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
32705,test,0.000000,13244.0,1.0,0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0

In [28]:
columns_dat_1 = set(dat_1.columns)
columns_dat_2 = set(dat_2.columns)

missing_in_dat_1 = columns_dat_2 - columns_dat_1
missing_in_dat_2 = columns_dat_1 - columns_dat_2

print(f"Columns in dat_2 but not in dat_1: {missing_in_dat_1}")
print(f"Columns in dat_1 but not in dat_2: {missing_in_dat_2}")

common_columns = sorted(columns_dat_1.intersection(columns_dat_2))
dat_1_common = dat_1[common_columns]
dat_2_common = dat_2[common_columns]

mismatch = (dat_1_common != dat_2_common)

mismatch.sum()

Columns in dat_2 but not in dat_1: set()
Columns in dat_1 but not in dat_2: {'tip_grd_M', 'origin_1.0', 'severity_1.0', 'tip_adm_1.0', 'ambulatory_0.0'}

age                 424
ambulatory_1.0        0
ambulatory_nan        0
dataset               0
exitus                0
expected_length    1873
mortality_ratio    2268
num_proc           1350
origin_2.0            0
origin_3.0            0
origin_4.0            0
origin_6.0            0
origin_8.0            0
origin_9.0            0
origin_nan            0
severity_2.0          0
severity_3.0          0
severity_4.0          0
severity_nan          0
tip_adm_2.0           0
tip_adm_3.0           0
tip_adm_nan           0
tip_grd_Q             0
tip_grd_nan           0
dtype: int64