# Question 1

In [60]:
# Load Libraries
%matplotlib inline

import pandas as pd

from imblearn.over_sampling import SMOTE

dat = pd.read_csv('../data/dataset_mock_midterm.csv', sep = ",")

dat = dat.drop(['date', 'severity', 'origin', 'tip_grd', 'tip_adm'], axis = 1).fillna(0) # Remove non-numerical variables and fill missing values for this notebook

In [33]:
minority_count = sum(dat['exitus'] == 1)
majority_count = sum(dat['exitus'] == 0)
print(minority_count, majority_count)

1256 31450

In [34]:
desired_ratio = 2/8
current_ratio = minority_count / majority_count
sampling_strategy = desired_ratio / current_ratio
sampling_strategy

6.259952229299363

In [61]:
sm = SMOTE(sampling_strategy =0.34,
      random_state = 0,
      k_neighbors = 5)

X_res, y_res = sm.fit_resample(dat[dat['dataset'] == 'train'].drop(['dataset', 'exitus'], axis = 1), dat[dat['dataset'] == 'train']['exitus'])


# Add dataset and exitus columns

X_res['exitus'] = y_res

X_res['dataset'] = 'train'
dat = pd.concat([X_res, dat[dat['dataset'] == 'val'], dat[dat['dataset'] == 'test']])
dat

,mortality_ratio,age,num_proc,ambulatory,expected_length,exitus,dataset
0,0.408730,12596.0,21.0,0.0,151.0,0,train
1,0.306931,20973.0,22.0,0.0,99.0,0,train
2,0.278481,19611.0,19.0,0.0,87.0,0,train
3,0.150289,13583.0,22.0,0.0,100.0,0,train
4,0.016573,18042.0,2.0,0.0,44.0,0,train
...,...,...,...,...,...,...,...
32701,0.028365,23619.0,2.0,0.0,2.0,0,test
32702,0.000606,3935.0,1.0,0.0,2.0,0,test
32703,0.040452,30163.0,4.0,0.0,2.0,0,test
32704,0.000000,29012.0,4.0,0.0,0.0,0,test
32705,0.000000,13244.0,1.0,0.0,0.0,0,test

In [62]:
100*dat.groupby(['exitus'])['exitus'].agg(['count'])/dat.shape[0]

            count
exitus
0       80.017301
1       19.982699